:root {
    --color-border: #5452c9;
    --color-highlight: #ccc4fa;

    --border-width: .2rem;
    --border-radius: .4rem;
}

html {
    font-size: 10px;
}

body {
    font-size: clamp(1.6rem, -1.1rem + 2vw, 3.2rem);
}

.App {
    text-align: center;
}

.App > header {
    font-size: 3.2rem;
    border-bottom: var(--border-width) solid black;
}

.App main {
    padding: 1.6rem;
}
