.owner-view form {
    width: 68vw;
    margin: auto;
}

.owner-view form button[type=submit] {
    margin-top: 3.2rem;
}

.owner-view .form-row {
    display: grid;
    grid-template:
        "address percentage button"
        "addrErr percErr    empty" / 9fr 2fr 1fr;
    ;
    gap: 1.2rem;
}

.owner-view .total-wrapper {
    padding: 0 0 3.2rem 0;
    font-size: 1.6em;
}

.owner-view .total-wrapper input {
    font-size: 1em;
}

.owner-view input.total {
    margin: 0 1rem;
}

.owner-view .form-row {
    padding: 0 0 1.6rem 0;
}

.owner-view .form-row input.address {
    grid-area: address;
}

.owner-view .form-row input.percentage {
    grid-area: percentage;
}

.owner-view .form-row button {
    grid-area: button;
}

.owner-view .form-row .error-message.address {
    grid-area: addrErr;
}

.owner-view .form-row .error-message.percentage {
    grid-area: percErr;
}
